<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<form method="get" th:action="@{/android-articles/ids/} + *{id}" action="#" th:object="${targetId}">
    <label>Enter an ID: </label>
    <input type="text" th:field="*{id}">
    <p><input type="submit" value="Submit" /></p>
</form>
<br />
<form method="get" th:action="@{/android-articles/authors/} + *{author}" action="#" th:object="${articlesByAuthor}">
    <label>Enter an Author: </label>
    <input type="text" th:field="*{author}">
    <p><input type="submit" value="Submit" /></p>
</form>
<br />
<form method="get" th:action="@{/android-articles/search/} + *{keywords}" action="#" th:object="${articlesByKeyword}">
    <label>Enter Keywords: </label>
    <input type="text" th:field="*{keywords}">
    <p><input type="submit" value="Submit" /></p>
</form>
<br />
<form th:action="@{/android-articles/new}" action="#" method="get">
    <p><input type="submit" value="Add New Article" /></p>
</form>
<br />
<form th:action="@{/android-articles/all}" action="#" method="get">
    <p><input type="submit" value="Browse All Articles" />
</form>
</body>
</html>